#box-wrapeer{
	background-image: url(../../img/img1.jpg);

	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 640px;
}

#box-wrapeer h3{
	margin-top: 150px;
	text-align: center;
	color: white;
	padding: 10px;
	font-family:'Baloo Chettan',cursive;
	font-weight: bold;
	font-size: 50px;
}
#box-wrapeer p {
	text-align: justify;
	font-size: 20px;
	font-family: 'Baloo Chettan',cursive;
	padding: 50px;
	color: white;
}
#box{

	background-color: rgba(0, 2, 2, 0.7);
	background: rgba(0, 2, 2, 0.7);
	color: rgba(0, 2, 2, 0.7);
	min-height: 640px;


}

 #clubesText{
	
	text-align: center;
	color: white;
	padding: 10px;
	font-family:'Baloo Chettan',cursive;
	font-weight: bold;
	font-size: 30px;

}

#fondo{
	display: relative;
	height: 130px;
	margin-top: 20px;

	background-image: url(../../img/allclubes.jpg);

	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	
	
}

#fondoUno{

	display: relative;
	height: 130px;
	margin-top: 20px;
	background-color: rgba(0, 2, 2, 0.7);
	background: rgba(0, 2, 2, 0.7);

	color: rgba(0, 2, 2, 0.7);
	
}


#lastFondo,h3{

	margin-top: -5px;
}
/*******fotmulario moto*****/

#box-wrapeerMoto{
	background-image: url(../../img/moto.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 640px;
}

#box-wrapeerMoto h3{
	margin-top: 150px;
	text-align: center;
	color: white;
	padding: 10px;
	font-family:'Baloo Chettan',cursive;
	font-weight: bold;
	font-size: 50px;
}
#box-wrapeerMoto p {
	text-align: justify;
	font-size: 20px;
	font-family: 'Baloo Chettan',cursive;
	padding: 50px;
	color: white;
}

/* Mas infomracion  */

#menu-bar{
    display: none;
    
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu{
    top:65px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 150vh;
    background: rgba(0,0,0,0.7);
    transition: 0.5s;
    transform:  translateX(-100%);
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    margin-top: 8px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
   
}
.menu a:hover{
    background:rgba(0,0,0,0.7);
    
}
#menu-bar:checked ~ .menu{
    transform:  translateX(0%);
}

#logo{
    width: 100px;
    margin-left: 30px;
    padding: 5px;
    
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
   
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
